@media screen and (max-width: 1300px) {

    /*.box-container {
        background-color: aqua;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }*/
    .container {
        height: 40vw;
    }

    .container::before {
        content: "";
        position: absolute;
        opacity: 0.9;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 40vw;

    }

    .container h1 {
        display: flex;
        width: 95%;
        align-items: center;
        justify-content: center;
        margin: 0px auto;
        padding: 3px 3px;
        font-size: 100px;
        color: white;
        font-family: 'Varela Round', sans-serif;
    }

    .container p {
        display: flex;
        width: 50%;
        justify-content: center;
        text-align: center;
        margin: 0px auto;
        padding: 3px 3px;
        font-size: 35px;
        color: white;
        font-family: 'Varela Round', sans-serif;
    }
}

@media screen and (max-width: 1300px){
    .box{
        height: 25vw;
    }
    @media screen and (max-width: 962px){
        .container{
            height: 55vw;
        }
        .container::before {
            content: "";
            position: absolute;
            opacity: 0.9;
            top: 0px;
            left: 0px;
            width: 100vw;
            height: 55vw;
        }
        .navbar li a{
            display: none;
        }
        .navbar ul {
            position: absolute;
            top: 20px;
            right: 40px;
        }
        .box-container {
            display: block;
            align-items: center;
            height: 15vw;
            justify-content: center;
            margin: 25px 42px;
        }
        .box{
            position: relative;
            margin: 15px;
            top: 0px;
            height: 60vw;
            width: 87vw;
        }
    }
    @media screen and (max-width: 680px){
        .container{
            height: 80vw;
        }
        .container::before {
            content: "";
            position: absolute;
            opacity: 0.9;
            top: 0px;
            left: 0px;
            width: 101vw;
            height: 800vw;
        }
    }
    @media screen and (max-width:568px){
        .container{
            height: 100vw;
        }
        .container::before {
            content: "";
            position: absolute;
            opacity: 0.9;
            top: 0px;
            left: 0px;
            width: 102vw;
            height: 100vw;
        }
    }
    @media screen and (max-width:376px){
        .container{
            height: 200vw;
        }
        .container::before {
            content: "";
            position: absolute;
            opacity: 0.9;
            top: 0px;
            left: 0px;
            width: 99vw;
            height: 180vw;
        }
        .box-container{
            margin: 25px auto;
        }
    }
    @media screen and (max-width:415px){
        .container{
            height: 131vw;
        }
        .container::before {
            content: "";
            position: absolute;
            opacity: 0.9;
            top: 0px;
            left: 0px;
            width: 99vw;
            height: 131vw;
        }
        .box-container{
            margin: 25px auto;
        }
    }
    @media screen and (max-width:281px){
        .container{
            height: 131vw;
        }
        .box h1{
        font-size: 14px;
        font-weight: bold;
        }
        #pg{
        font-size: 10px;
        font-weight: bold;
        }
        .container::before {
            content: "";
            position: absolute;
            opacity: 0.9;
            top: 0px;
            left: 0px;
            width: 99vw;
            height: 131vw;
        }
        .box-container{
            margin: 25px auto;
        }
    }
}